---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
			{% if post.image.feature %}
		    <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/img/{{ post.image.feature }}"></a>
		  {% endif %}
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.description | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"289705b519a6bb5d357b0d753","lid":"676f8f85d1","uniqueMethods":true}) })</script>
